<a href="{% url 'products' %}" class="btn btn-outline-dark rounded-5 btn-lg mt-2">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span>Keep Shopping</span>
</a>
{% if request.user.is_authenticated %}
    <a href="{% url 'checkout' %}" class="btn form-button btn-lg mt-2">
        <span>Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
{% else %}
    <a href="{% url 'account_login' %}" class="btn form-button btn-lg mt-2">
        <span>Login to Checkout </span>
        <span class="icon">
            <i class="fas fa-user-plus"></i>
        </span>
    </a>
    <br>
    <small>You must sign in to checkout. If you don't have an account, <a href="{% url 'account_signup' %}">click here.</a></small>
{% endif %}
