{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-between">
            <div class="col-sm-12 col-md-6 my-auto">
                <h1>Hi there, I'm Rob, and I love to create!</h1>
                <br>
                <h3>From logos to family portraits, book covers to websites, I will turn your vision into a reality.</h3>
                <br>
                <div class="my-5">
                    <h3>
                        <a href="{% url 'contact' %}" class="free-quote-button btn btn-lg rounded-3">Get a free quote today</a>
                    </h3>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 my-auto">
                <img src="{{ MEDIA_URL }}rcd_profile.png" alt="Robert Clark Design" width="500" height="547" class="page-image">
            </div>
        </div>
        <hr>

        <div class="row h-100 justify-content-between">
            <div class="col-sm-12 col-md-5 my-auto">
                <img src="{{ MEDIA_URL }}portfolio_gif.gif" alt="Portfolio" width="500" height="500" class="rounded-circle page-image">
            </div>
            <div class="col-sm-12 col-md-6 align-self-end my-auto">
                <h2>When I say I love to create, I really mean it.</h2>
                <br>
                <h3>I'm a self-published author, graphic designer, digital marketer and software developer, all in one. 
                    <br>
                    <br>
                    So if you're looking for someone who can do it all for you, you're in the right place.</h3>
                <br>
                <div class="my-5">
                    <h3>
                        <a href="{% url 'portfolio' %}" class="free-quote-button btn btn-lg rounded-3">Check out my Portfolio!</a>
                    </h3>
                </div>
            </div>
        </div>
        <hr>

        <div class="row h-100 justify-content-between">
            <div class="col-sm-12 col-md-6 my-auto">
                <h2>Check out the shop.</h2>
                <br>
                <h3>I have an array of stunning geometric designs prints available in store that would make a great gift.
                    <br>
                    <br>
                    Or purchase a commission package to create something truly unique.
                </h3>
                <br>
                <div>
                    <h3>
                        <a href="{% url 'products' %}" class="free-quote-button btn btn-lg rounded-3">Shop Now</a>
                    </h3>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 my-auto">
                <img src="{{ MEDIA_URL }}art_eg.png" alt="Whitby Abbey" width="500" height="500" class="rounded-circle page-image">
            </div>
        </div>
        <hr>

        <div class="row h-100 justify-content-between">
            <div class="col-sm-12 col-md-5 my-auto">
                <img src="{{ MEDIA_URL }}commissions-gif.gif" alt="Commissions" width="500" height="500" class="rounded-circle page-image">
            </div>
            <div class="col-sm-12 col-md-6 align-self-end my-auto">
                <h2>Looking for that special gift? I've got you covered!</h2>
                <br>
                <h3>Turn a treasured memory into a stunning work of art that is certain to stand out as an amazing and heartfelt gift.</h3>
                <br>
                <div class="my-5">
                    <h3>
                        <a href="" class="free-quote-button btn btn-lg rounded-3">Read testimonials from happy customers</a>
                    </h3>
                </div>
            </div>
        </div>
        <hr>

        <div class="row h-100 justify-content-between">
            <div class="col-sm-12 col-md-6 my-auto">
                <h2>But who am I?</h2>
                <br>
                <h3>Well like I said, I'm an author, artist and web designer. But that only scratches the surface, and if you're looking to work with a person, you want to know who they are.</h3>
                <br>
                <div class="my-5">
                    <h3>
                        <a href="" class="free-quote-button btn btn-lg rounded-3">About Me</a>
                    </h3>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 my-auto">
                <img src="{{ MEDIA_URL }}about-me.png" alt="Rob Clark" width="500" height="500" class="rounded-circle page-image">
            </div>
        </div>
        <hr>
    </div>
{% endblock %}