{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>My Profile</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-12 col-md-10 col-l-8 mb-5">
                <button class="accordion mt-2 mb-1">Delivery Info</button>
                <div class="panel">
                    {% include 'profiles/includes/user_delivery_info.html' %}
                </div>
                <br>
                <button class="accordion mt-2 mb-1">Order History</button>
                <div class="panel">
                    {% include 'profiles/includes/user_order_history.html' %}
                </div>
                <br>
                <button class="accordion mt-2 mb-1">Commission Image Upload</button>
                <div class="panel">
                    {% include 'profiles/includes/user_photo_upload.html' %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
            } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
        }
    </script>
{% endblock %}