{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Testimonials</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for testimonial in testimonials %}
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="image-container h-100 border-0 rounded-5">
                                {% if testimonial.image %}
                                    <img class="testimonial-image img-fluid rounded-5" src="{{ testimonial.image.url }}" alt="{{ testimonial.name }}">
                                {% else %}
                                    <img class="testimonial-image img-fluid rounded-5" src="{{ MEDIA_URL }}noimage.png" alt="{{ testimonial.name }}">
                                {% endif %}        
                                <div class="overlay">
                                    <div class="overlay-text">                 
                                        <p class="font-weight-bold font-italic text-white testimonial-text mb-3">"{{ testimonial.review }}"</p>
                                        {{ testimonial.name }}
                                    </div> 
                                </div> 
                            </div>
                            <br>
                            {% if request.user.is_superuser %}
                                <div class="text-center">
                                    <a class="form-button btn btn-sm" href="{% url 'edit_testimonial' testimonial.id %}">Edit</a>
                                </div>
                            {% endif %}
                        </div>
                        
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr class="hidden-line-break">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr class="hidden-line-break">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr class="hidden-line-break">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr class="hidden-line-break">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col text-center mt-3 mb-5">
                        <h3>Like what you see?</h3>
                        <h4>
                            <a class="free-quote-button btn btn-lg rounded-3" href="{% url 'products' %}">Order one today!</a>
                        </h4>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}