.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.accordion {
    background-color: #1f1c1c;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    outline: none;
    transition: 0.4s;
}

  .active, .accordion:hover {
    background-color: #9c020e;
}

.panel {
    padding: 0 18px;
    background-color: #faf8f0;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.2s ease-out;
}

