html {
    height: 100%;
}

body {
    height: calc(100vh - 100px);
    background-color: #faf8f0;
}

.header-container {
    padding-top: 100px;
    background-color: #faf8f0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #1f1c1c;
    font-weight: 200;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-weight: 200;
}

.black-text {
    color: #1f1c1c !important;
}

.dropdown-menu {
    background-color: #faf8f0;
}

.dropdown-item:hover {
    color: white;
    background-color: #9c020e;
}

/* from Bulma */
.icon,
.base-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.base-icon:hover {
    color: #9c020e;
}

#topnav {
    background-color: #faf8f0;
}

#bottomnav {
    background-color: #faf8f0;
}

.page-image {
        max-width: 80vw;
        max-height: 80vw;
    }

.product-link {
    color: black;
}

.product-link:hover {
    color: #9c020e;
}

.hidden-line-break {
    opacity: 0;
}

.form-button {
    background-color: #1f1c1c;
    color: white;
}

.form-button:hover,
.form-button:active,
.form-button:focus {
    background-color: #9c020e;
    color: white;
}

#delivery-banner {
    background-color: #9c020e;
}

#delivery-banner-text {
    color: white;
}

/* ----------------------------------------------------- Index Page */

.free-quote-button {
    font-size: 300;
}

.free-quote-button:hover,
.free-quote-button:active,
.free-quote-button:focus {
    font-size: 400;
    color: white;
    background-color: #9c020e;
}

/* ----------------------------------------------------- Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .page-image {
        max-width: 500px;
    }

    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 100px);
    }
}