{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}

    <h2 class="text-center">{% trans "Account Inactive" %}</h2>
    <hr>

        <div class="col-12">
            <p>{% trans "This account is inactive." %}</p>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <a href="{% url 'home' %}" class="btn form-button rounded-5">Home</a>
        </div>

{% endblock %}
