{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

  <h2 class="text-center">{% trans "Sign Out" %}</h2>
  <hr>
  <div class="row justify-content-md-center">

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <br>
      <button class="btn form-button rounded-5" type="submit">{% trans 'Sign Out' %}</button>
    </form>

  </div>
  <hr>
    <div class="row justify-content-md-center">
        <a href="{% url 'home' %}" class="btn form-button rounded-5">Home</a>
    </div>

{% endblock %}
