{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Admin Management</h2>
                <h5 class="text-muted">Homepage</h5>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1 mb-5">
                <div class="row justify-content-center mb-5">
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <h5 class="mt-3 mb-3"><strong>Projects</strong></h5>
                        <hr>
                        <p>View Projects and Sales</p>
                        <br>
                        <a href="{% url 'view_uploads' %}" class="btn form-button btn-block pt-5 pb-5">
                            <span class="icon">
                                <i class="fas fa-tasks"></i>         
                            </span>
                            <span>Uploaded Images</span>
                        </a>
                        <br>
                        <a href="{% url 'order_history' %}" class="btn form-button btn-block pt-5 pb-5">
                            <span class="icon">
                                <i class="fas fa-receipt"></i>          
                            </span>
                            <span>Order History</span>
                        </a>
                        <br>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <h5 class="mt-3 mb-3"><strong>Store</strong></h5>
                        <hr>
                        <p>Add / Edit Store Products</p>
                        <br>
                        <a href="{% url 'add_product' %}" class="btn form-button btn-block pt-5 pb-5">
                            <span class="icon">
                                <i class="fas fa-plus-square"></i>          
                            </span>
                            <span>Add Product</span>
                        </a>
                        <br>
                        <a href="{% url 'products' %}" class="btn form-button btn-block pt-5 pb-5">
                            <span class="icon">
                                <i class="fas fa-edit"></i>          
                            </span>
                            <span>Edit Product</span>
                        </a>
                        <br>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <h5 class="mt-3 mb-3"><strong>Portfolio</strong></h5>
                        <hr>
                        <p>Add / Edit Portfolio</p>
                        <br>
                        <a href="{% url 'add_project' %}" class="btn form-button btn-block pt-5 pb-5">
                            <span class="icon">
                                <i class="fas fa-plus-square"></i>          
                            </span>
                            <span>Add Portfolio Project</span>
                        </a>
                        <br>
                        <a href="{% url 'portfolio' %}" class="btn form-button btn-block pt-5 pb-5">
                            <span class="icon">
                                <i class="fas fa-edit"></i>          
                            </span>
                            <span>Edit Portfolio Project</span>
                        </a>
                        <br>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 text-center">
                        <h5 class="mt-3 mb-3"><strong>Testimonials</strong></h5>
                        <hr>
                        <p>Add / Edit Client Testimonials</p>
                        <br>
                        <a href="{% url 'add_testimonial' %}" class="btn form-button btn-block pt-5 pb-5">
                            <span class="icon">
                                <i class="fas fa-plus-square"></i>          
                            </span>
                            <span>Add Testimonial</span>
                        </a>
                        <br>
                        <a href="{% url 'testimonials' %}" class="btn form-button btn-block pt-5 pb-5">
                            <span class="icon">
                                <i class="fas fa-edit"></i>          
                            </span>
                            <span>Edit Testimonial</span>
                        </a>
                        <br>
                    </div>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}