{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Admin Management</h2>
                <h5 class="text-muted">Order History</h5>
                <hr class="w-100 mb-1">
                <div class="text-center mt-3 mb-5">
                    <a href="{% url 'management' %}" class="btn form-button rounded-5">
                        <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-lg-8 mb-5">
                <div class="order-history table-responsive mb-5">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Line 1</th>
                                <th>City</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a class="small" href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6}}
                                        </a>
                                    </td>
                                    <td class="small">{{ order.date }}</td>
                                    <td class="small">{{ order.full_name }}</td>
                                    <td class="small">{{ order.street_address1 }}</td>
                                    <td class="small">{{ order.town_or_city }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {% if item.is_digital %}
                                                    <strong><a href="">{{ item.product.name }} x{{ item.quantity }}</a></strong>
                                                {% else %}
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="small">£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
