{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Admin Management</h2>
                <h5 class="text-muted">Uploaded Customer Images</h5>
                <hr class="w-100 mb-1">
                <div class="text-center mt-3 mb-5">
                    <a href="{% url 'management' %}" class="btn form-button rounded-5">
                        <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-lg-8 mb-5">
                <div class="table-responsive mb-5">
                    <table class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Uploaded By</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for upload in uploads %}
                                <tr>
                                    <td>
                                        <a href="{{ upload.upload_image_file_path }}" target="_blank">
                                            <img class="w-100" src="{{ upload.image }}" alt="{{ upload.title }}">
                                        </a>
                                    </td>
                                    <td class="small"><strong>{{ upload.user }}</strong></td>
                                    <td class="small">{{ upload.comments }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
