{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Whoops...</h2>
                <h5 class="text-muted">404 Page Not Found</h5>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 justify-content-center mb-5">
                <p class="text-center mb-2"> Did you know that the 404 error was named after old Ignatius Cumberbottom, the founder of the internet way back in the year 404? 
                    If you believed that, you probably deserve to be here.</p>
            </div>
        </div>
        <div class="row justify-content-center">  
            <div class="col-12 col-md-8 justify-content-center mb-5">
                <a class="btn btn-lg form-button rounded-5" href="{% url 'home' %}">Get out of here you little scamp!</a>
            </div>            
        </div>
    </div>
{% endblock %}