{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col">
                <h4 id="delivery-banner-text" class="my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Shop</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            <ul class="navbar-nav w-auto mx-auto text-center list-group-horizontal mb-5">
                <li class="nav-item mr-5">
                    <a class="product-link" href="{% url 'products' %}?category=Geometric Panoramas,Commissions,Geometric Animals">All</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="product-link" href="{% url 'products' %}?category=Geometric Panoramas">Panoramas</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="product-link" href="{% url 'products' %}?category=Geometric Animals">Animals</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="product-link" href="{% url 'products' %}?category=Commissions">Commissions</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                            </a>
                            <div class="card-body pb-0">
                                <a href="{% url 'product_detail' product.id %}">
                                    <p class="product-link mb-0 font-weight-bold">{{ product.name }}</p>
                                </a>
                                <p class="mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr class="hidden-line-break">
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr class="hidden-line-break">
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr class="hidden-line-break">
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr class="hidden-line-break">
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
{% endblock %}